html {
  height: 100%;
  width: 100%;
  background-color: black;
}

.home {
  color: white;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  font-size: 70px;
  font-weight: 400;
  line-gap-override: 50;
  line-height: 1.5;
}

span {
  font-size: 30px;
}

p {
  color: white;
  font-family: 'Courier New', Courier, monospace;
  padding-left: 150px;
  padding-right: 150px;
  text-align: center;
  font-size: 20px;
  line-height: 1.5;
}

.projects{
  color: white;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  font-size: 30px;
}

.projects iframe{
  padding-left: 50px;
  padding-right: 50px;
}
.contact a{
  color: skyblue;
}

